@model OnlineJwelaryShop.Models.category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row shadow1" style="padding-top:10px; padding-bottom:10px; #CCCCCC; margin-top:15px; padding-left:15px;">
    <strong style="font-size:20px;">Products Category Manage</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Control panel</span>
</div>
<div class="row" style="padding-bottom:30px;">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <div class="row" style="padding-top:20px;">
            @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                <label style="padding-top:20px;">Products Category Name</label>
                @Html.EditorFor(x => x.name, new { htmlAttributes = new { @class = "form-control", placeholder = "* Products Category Name", required = "required" } })
                <label style="padding-top:20px;">Image</label>
                <input type="file" name="file" id="file" />

                <div style="padding-top:10px;"></div>
                <button class="btn btn-info">Submit</button> <button class="btn btn-warning" type="reset">Reset</button>

}
        </div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
@if (TempData["Message"]!=null)
{
    <div class="row">
        <h4 style="color:crimson;text-align:center">@TempData["Message"]</h4>
    </div>
}

<div class="row" style="padding-top:5px; padding-bottom:5px; border-top:solid 1px #CCCCCC; border-bottom:solid 1px #CCCCCC; background-color:#F8F8F8;">
    <div class="col-md-1">
        <div class="row" style="padding-left:5px;">
            <strong>Sr. No</strong>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <strong>Products Category Name</strong>
        </div>
    </div>
    <div class="col-md-1">
        <div class="row">
            <strong>Image</strong>
        </div>
    </div>
    <div class="col-md-1">
        <div class="row">
            <strong>Delete</strong>
        </div>
    </div>
</div>
@{ 
    var count = 0;
    foreach (var item in ViewBag.catagories)
    {
        count++;
    <div class="row" style="border-bottom:solid 1px #CCCCCC;">
        <div class="col-md-1">
            <div class="row" style="padding-left:5px;">
                @count
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @item.name
            </div>
        </div>
        <div class="col-md-1">
            <div class="row">
                <img class="img-responsive" style="height:40px;width:40px;" src="@Url.Content(@item.img_name)">
            </div>
        </div>
        <div class="col-md-1">
            <div class="row">
                <a href="@Url.Action("deleteCategory", "Admin", new {id = item.cat_id})"><img style="height:35px;width:35px;" src="~/Content/assets/img/delete.ico"></a>
            </div>
        </div>
    </div>
        }
}




