
@{
    ViewBag.Title = "feedback";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
</head>






<div class="row shadow1" style="padding-top:10px; padding-bottom:10px; #CCCCCC; margin-top:15px; padding-left:15px;">
    <strong style="font-size:20px;">Customers Feedback</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Control panel</span>
</div>

<div class="row" style="padding-top:10px; padding-bottom:5px; border-top:solid 1px #CCCCCC; border-bottom:solid 1px #CCCCCC; background-color:#F8F8F8;">
    <div class="col-md-1">
        <div class="row" style="padding-left:5px;">
            <strong>Sr. No</strong>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <strong>User ID</strong>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <strong>Name</strong>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row" style="text-align:center">
            <strong>Email</strong>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row" style="text-align:center">
            <strong>Feedback</strong>
        </div>
    </div>

    <div class="col-md-1">
        <div class="row" style="text-align:center">
            <strong>Active</strong>
        </div>
    </div>

</div>
@{
    var count = 0;
    foreach (var item in ViewBag.feed)
    {
        count++;
        <div class="row" style="border-bottom:solid 1px #CCCCCC;">
            <div class="col-md-1">
                <div class="row" style="padding-left:5px;">
                    @count
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    @item.user_id
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    @item.name
                </div>
            </div>

            <div class="col-md-2" style="text-align:center">
                <div class="row">
                    @item.email
                </div>
            </div>

            <div class="col-md-4" style="text-align:center">
                <div class="row">
                    @item.feedback1
                </div>
            </div>
            <div class="col-md-1">
                <div class="row" style="text-align:center;margin-top:15px">
                   
                        @if (item.status == "Pending")
                        {
                            <label class="switch">
                                <a href="@Url.Action("feedbackStatus", "Admin", new {id = item.user_id})">
                                    <input type="checkbox" unchecked>
                                    <span class="slider round"></span>
                                </a>
                            </label>
                        }
                        else
                        {
                            <label class="switch">
                                <a href="@Url.Action("feedbackStatus", "Admin", new {id = item.user_id})">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </a>
                            </label>
                        }                   
                </div>
            </div>
        </div>
    }
}

